@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
}

html,
body {
  @apply h-full;
}

.gradient-text {
  @apply bg-gradient-to-r from-purple-400 to-pink-400 bg-clip-text text-transparent;
}
